<form action="" [formGroup]="vehicleForm">


<label for="">Vehicle Name</label>
<input type="text" formControlName="Vehicle" name="" id=""><br>

<label for="">Manufacturer</label>
<input type="text"formControlName="manufacturer" name="" id=""><br>

<label for="">Model</label>
<input type="text" formControlName="model" name="" id=""><br>

<label for="">Type</label>
<input type="text" formControlName="type" name="model" id=""><br>

<label for="">Fuel</label>
<input type="text" formControlName="fuel" name="" id=""><br>

<label for="">color</label>
<input type="text" formControlName="color" name="" id=""><br>

<label for="">Image</label>
<input type="text" formControlName="image" name="" id=""><br>

<label for="">Cost</label>
<input type="text" formControlName="cost" name="" id=""><br>

<button class="btn btn-info" (click)="create()">submit</button>



</form>