div{
    width: 400px;
    height: 340px;
    border: 1px solid black;
    margin: 250px;
    margin-left: 430px;
    text-align: center;
    background-color: rgb(245, 231, 215);
    box-shadow: 5px 5px 5px black;
}
input{
    width: 280px;
    height: 30px;
} 