<h1>create User</h1>
<form action="" [formGroup]="userForm">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" formControlName="name"><br>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" formControlName="email"><br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password"><br>

    <label for="mobile">Mobile</label>
    <input type="number" name="number" id="number" formControlName="mobile"><br>

    <div formGroupName="address">

    <label for="village">Village</label>
    <input type="text" name="village" id="village" formControlName="village"><br>

    <label for="district">District</label>
    <input type="text" name="district" id="district" formControlName="district"><br>

    <label for="state">State</label>
    <input type="text" name="state" id="state" formControlName="state"><br>

    <label for="pincode">Pincode</label>
    <input type="number" name="pincode" id="pincode" formControlName="pincode"><br>

    </div>



    <label for="">Type:</label>
    <input type="radio" name="type" formControlName="type" value="dayscholor">
    <label for="">Dayscholor</label>
    <input type="radio" name="type" formControlName="type" value="hostel">
    <label for="">Hostel</label><br>



    <div *ngIf="userForm.get('type')?.value=='dayscholor'">
        <label for="">Bus Fee:</label>
        <input type="number" formControlName="busfee"><br>
    </div>


    <div *ngIf="userForm.get('type')?.value=='hostel'">
        <label for="">Hostel Fee :</label>
        <input type="number" formControlName="hostelfee"><br>
    </div>


    <button (click)="addcard()">Add Card</button>
    <div formArrayName="cards">
        <div *ngFor="let card of cardFormArray.controls; let i=index">
            <div formGroupName="{{i}}">
                <h2>card{{i+1}}</h2>
                <label for="">Number</label>
                <input type="number" formControlName="number"><br>

                <label for="">Expiry</label>
                <input type="month" formControlName="expiry"><br>

                <label for="">CVV</label>
                <input type="number" formControlName="cvv"><br>

                <button (click)="delete(i)">Delete Card</button>

            </div>

        </div>


    </div>



    <button  type="submit" (click)="create()">Create User</button>




</form>