<div class="parent">
    <div class="left">
        <h1>Dashboard</h1>
        <h3 routerLink="welcome">Welcome</h3>
        <h3 routerLink="calculator">Calculator</h3>
        <h3 routerLink="data-binding">Data Binding</h3>
        <h3 routerLink="Derivatives">Derivatives</h3>
        <h3 routerLink="employee">Employee</h3>
        <h3 routerLink="create-user">Create User</h3>
        <h3 routerLink="student-details">Student-details</h3>
        <button (click)="logout()">Logout</button>
        

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>