.parent{
    display: flex;
    height: 100vh;
    width:100vw;
}
.left{
    width: 15%;
    /* background-color: rgb(213, 223, 219); */
    background-color: black;
    color: antiquewhite;

}
.right{
    width: 85%;
    overflow: auto;
    background-color: gray;
}